header.header {
    background: linear-gradient( 76.3deg,  rgba(44,62,78,1) 12.6%, rgba(69,103,131,1) 82.8% );
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header.header img {
    height: 50px;
}

header.header h1 {
    color: white;
}